

body > div.wrapper > div > header > div > div > div > div > div > div.header_inner_left > div.logo_wrapper > div > a > img.normal {top: -45%;}
body > div.wrapper > div > header > div > div > div > div > div > div.header_inner_left > div.logo_wrapper > div > a > img.mobile {top: -50%;}
.cover_boxes ul li .box .thumb img {min-height: 200px;}
.igual {
background-color: #C0C0C0;
 color: #fff;
padding: 2px 13px 5px 13px;
  border-radius: 100%;
  font-size: 27px;
  font-weight: bold;
}
.igual:hover {background-color:#b2080c;}
body > div.wrapper > div > div > div > div.full_width > div > div.vc_row.wpb_row.section.vc_row-fluid.grid_section.full_screen_section > div > div > div:nth-child(6) {
top: 40px;
}
.botaogui a {
width: 100%;
  height: auto;
  padding: 15px;
  margin: 20px 45%!important;
border:2px solid #313131;
border-radius:5px;
}
.botaogui a:hover {background-color: #B2080C; color: #fff; border: #B2080C;}

.botaoform{
width: 80px;
  height: auto;
  padding: 15px;
border:2px solid #313131;
border-radius:5px;
}
