
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b25f8a64d03ba6e5e8504ad2a71e611f
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup
